*{
    margin: 0px;
   }
   
   .nav{
    cursor: pointer;
    padding: 12px 14px;
    list-style-type: none;
    display: flex;
    
    
   }
   li{
    font-weight: bold;
    margin-left: 20px;

   }
   
   header{
    background-color: aqua;
    display: flex;
 
    
   
   }
   h1{
    margin-left: 20px;
    flex: 1px ;
    display:flex;
    flex-direction: left;
   
    
    
   }
   .button{
    background-color: rgb(80, 80, 229);
    color: white;
    font-weight: bold;
    padding: 16px 30px;
    border: none;
    
   }
   .button:hover{
    cursor: pointer;
   }
