/**{
    background-image:url(boba.jpg) ;
    background-repeat: no-repeat;
    background-size:  cover;
}
*/

#color{
    color: red;
    text-align: center;


}
img{
    border-radius: 50px;
     border-width: 50px;
    border-color: red;
    border-style:dotted;
    height: 50px;
    
}
.one{
    border:1px solid rgb(12, 213, 12);
   
}
.font{
    font-family: 'Times New Roman', Times, serif;
    font-size:10px;
    font-weight: 10px;
    font-style: italic;

}
#data-1 {
	color: aquamarine;
}

.data-2 {
	color: aquamarine;
}

.data-2 {
	color: black;
}

h3 {
	color: blue;
}

h3 {
	color: orange;
}

.container {
	color: brown;
}

/* Block level element */
.block-element {
	border: 1px solid red;
	display: inline;
}

/* Inline Element */
.inline-element {
	border: 1px solid green;
	display: inline;
	padding-top: 20px;
	padding-left: 10px;
	margin-top: 5px;
}

